---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/RedHatOfficial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f64d32672b6799bb341ce72e2f25714eb8e6795d240aaf4bef5bbf7c200eacc4"
      Last-Modified:
      - Tue, 14 Dec 2021 22:21:27 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1665600871'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: UTF-8
      string: '{"login":"RedHatOfficial","id":33972111,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMzOTcyMTEx","url":"https://api.github.com/orgs/RedHatOfficial","repos_url":"https://api.github.com/orgs/RedHatOfficial/repos","events_url":"https://api.github.com/orgs/RedHatOfficial/events","hooks_url":"https://api.github.com/orgs/RedHatOfficial/hooks","issues_url":"https://api.github.com/orgs/RedHatOfficial/issues","members_url":"https://api.github.com/orgs/RedHatOfficial/members{/member}","public_members_url":"https://api.github.com/orgs/RedHatOfficial/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/33972111?v=4","description":"The
        official GitHub account for Red Hat (VCR).","name":"Red Hat","company":null,"blog":"https://redhatofficial.github.io","location":null,"email":null,"twitter_username":"RedHat","is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":83,"public_gists":0,"followers":494,"following":0,"html_url":"https://github.com/RedHatOfficial","created_at":"2017-11-25T02:39:58Z","updated_at":"2021-12-14T22:21:27Z","type":"Organization"}'
  recorded_at: Wed, 12 Oct 2022 17:58:38 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/RedHatOfficial/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b74ed7ca7cb491967aa95dee60c581b606e3f044f4877edd7232e3c34064b2c2"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1665600871'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: UTF-8
      string: '[{"id":29510360,"node_id":"MDEwOlJlcG9zaXRvcnkyOTUxMDM2MA==","name":"Overpass","full_name":"RedHatOfficial/Overpass","private":false,"owner":{"login":"RedHatOfficial","id":33972111,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMzOTcyMTEx","avatar_url":"https://avatars.githubusercontent.com/u/33972111?v=4","gravatar_id":"","url":"https://api.github.com/users/RedHatOfficial","html_url":"https://github.com/RedHatOfficial","followers_url":"https://api.github.com/users/RedHatOfficial/followers","following_url":"https://api.github.com/users/RedHatOfficial/following{/other_user}","gists_url":"https://api.github.com/users/RedHatOfficial/gists{/gist_id}","starred_url":"https://api.github.com/users/RedHatOfficial/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/RedHatOfficial/subscriptions","organizations_url":"https://api.github.com/users/RedHatOfficial/orgs","repos_url":"https://api.github.com/users/RedHatOfficial/repos","events_url":"https://api.github.com/users/RedHatOfficial/events{/privacy}","received_events_url":"https://api.github.com/users/RedHatOfficial/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/RedHatOfficial/Overpass","description":"Overpass
        open source web font family — Sponsored by Red Hat","fork":false,"url":"https://api.github.com/repos/RedHatOfficial/Overpass","forks_url":"https://api.github.com/repos/RedHatOfficial/Overpass/forks","keys_url":"https://api.github.com/repos/RedHatOfficial/Overpass/keys{/key_id}","collaborators_url":"https://api.github.com/repos/RedHatOfficial/Overpass/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/RedHatOfficial/Overpass/teams","hooks_url":"https://api.github.com/repos/RedHatOfficial/Overpass/hooks","issue_events_url":"https://api.github.com/repos/RedHatOfficial/Overpass/issues/events{/number}","events_url":"https://api.github.com/repos/RedHatOfficial/Overpass/events","assignees_url":"https://api.github.com/repos/RedHatOfficial/Overpass/assignees{/user}","branches_url":"https://api.github.com/repos/RedHatOfficial/Overpass/branches{/branch}","tags_url":"https://api.github.com/repos/RedHatOfficial/Overpass/tags","blobs_url":"https://api.github.com/repos/RedHatOfficial/Overpass/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/RedHatOfficial/Overpass/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/RedHatOfficial/Overpass/git/refs{/sha}","trees_url":"https://api.github.com/repos/RedHatOfficial/Overpass/git/trees{/sha}","statuses_url":"https://api.github.com/repos/RedHatOfficial/Overpass/statuses/{sha}","languages_url":"https://api.github.com/repos/RedHatOfficial/Overpass/languages","stargazers_url":"https://api.github.com/repos/RedHatOfficial/Overpass/stargazers","contributors_url":"https://api.github.com/repos/RedHatOfficial/Overpass/contributors","subscribers_url":"https://api.github.com/repos/RedHatOfficial/Overpass/subscribers","subscription_url":"https://api.github.com/repos/RedHatOfficial/Overpass/subscription","commits_url":"https://api.github.com/repos/RedHatOfficial/Overpass/commits{/sha}","git_commits_url":"https://api.github.com/repos/RedHatOfficial/Overpass/git/commits{/sha}","comments_url":"https://api.github.com/repos/RedHatOfficial/Overpass/comments{/number}","issue_comment_url":"https://api.github.com/repos/RedHatOfficial/Overpass/issues/comments{/number}","contents_url":"https://api.github.com/repos/RedHatOfficial/Overpass/contents/{+path}","compare_url":"https://api.github.com/repos/RedHatOfficial/Overpass/compare/{base}...{head}","merges_url":"https://api.github.com/repos/RedHatOfficial/Overpass/merges","archive_url":"https://api.github.com/repos/RedHatOfficial/Overpass/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/RedHatOfficial/Overpass/downloads","issues_url":"https://api.github.com/repos/RedHatOfficial/Overpass/issues{/number}","pulls_url":"https://api.github.com/repos/RedHatOfficial/Overpass/pulls{/number}","milestones_url":"https://api.github.com/repos/RedHatOfficial/Overpass/milestones{/number}","notifications_url":"https://api.github.com/repos/RedHatOfficial/Overpass/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/RedHatOfficial/Overpass/labels{/name}","releases_url":"https://api.github.com/repos/RedHatOfficial/Overpass/releases{/id}","deployments_url":"https://api.github.com/repos/RedHatOfficial/Overpass/deployments","created_at":"2015-01-20T03:42:57Z","updated_at":"2022-10-11T17:34:38Z","pushed_at":"2022-06-16T14:47:09Z","git_url":"git://github.com/RedHatOfficial/Overpass.git","ssh_url":"git@github.com:RedHatOfficial/Overpass.git","clone_url":"https://github.com/RedHatOfficial/Overpass.git","svn_url":"https://github.com/RedHatOfficial/Overpass","homepage":"http://overpassfont.org","size":43060,"stargazers_count":1837,"watchers_count":1837,"language":"Makefile","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":89,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":28,"license":{"key":"ofl-1.1","name":"SIL
        Open Font License 1.1","spdx_id":"OFL-1.1","url":"https://api.github.com/licenses/ofl-1.1","node_id":"MDc6TGljZW5zZTE3"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":89,"open_issues":28,"watchers":1837,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true}},{"id":39968616,"node_id":"MDEwOlJlcG9zaXRvcnkzOTk2ODYxNg==","name":"miq-LDAP","full_name":"RedHatOfficial/miq-LDAP","private":false,"owner":{"login":"RedHatOfficial","id":33972111,"node_id":"MDEyOk9yZ2FuaXphdGlvbjMzOTcyMTEx","avatar_url":"https://avatars.githubusercontent.com/u/33972111?v=4","gravatar_id":"","url":"https://api.github.com/users/RedHatOfficial","html_url":"https://github.com/RedHatOfficial","followers_url":"https://api.github.com/users/RedHatOfficial/followers","following_u[...]
