---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/RedHatOfficial/members?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ea3d08630d27ec0e20a6ad39d14929bb11c3a1bed461d3781c6c36a8f72b677b"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1665605780'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"vcr","id":1998949,"node_id":"MDQ6VXNlcjE5OTg5NDk=","avatar_url":"https://avatars.githubusercontent.com/u/1998949?v=4","gravatar_id":"","url":"https://api.github.com/users/vcr","html_url":"https://github.com/vcr","followers_url":"https://api.github.com/users/vcr/followers","following_url":"https://api.github.com/users/vcr/following{/other_user}","gists_url":"https://api.github.com/users/vcr/gists{/gist_id}","starred_url":"https://api.github.com/users/vcr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/vcr/subscriptions","organizations_url":"https://api.github.com/users/vcr/orgs","repos_url":"https://api.github.com/users/vcr/repos","events_url":"https://api.github.com/users/vcr/events{/privacy}","received_events_url":"https://api.github.com/users/vcr/received_events","type":"User","site_admin":false},{"login":"dmc5179","id":2169791,"node_id":"MDQ6VXNlcjIxNjk3OTE=","avatar_url":"https://avatars.githubusercontent.com/u/2169791?v=4","gravatar_id":"","url":"https://api.github.com/users/dmc5179","html_url":"https://github.com/dmc5179","followers_url":"https://api.github.com/users/dmc5179/followers","following_url":"https://api.github.com/users/dmc5179/following{/other_user}","gists_url":"https://api.github.com/users/dmc5179/gists{/gist_id}","starred_url":"https://api.github.com/users/dmc51[...]
