---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=repo:RedHatOfficial/RedHatOfficial.github.io%20is:issue%20is:open%20archived:false%20created:2018-04-18..2018-04-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '1666273518'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: UTF-8
      string: '{"total_count":2,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/174","repository_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io","labels_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/174/labels{/name}","comments_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/174/comments","events_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/174/events","html_url":"https://github.com/RedHatOfficial/RedHatOfficial.github.io/issues/174","id":318731357,"node_id":"MDU6SXNzdWUzMTg3MzEzNTc=","number":174,"title":"Design
        | Add a fork me on Github logo","user":{"login":"sara-02","id":7047079,"node_id":"MDQ6VXNlcjcwNDcwNzk=","avatar_url":"https://avatars.githubusercontent.com/u/7047079?v=4","gravatar_id":"","url":"https://api.github.com/users/sara-02","html_url":"https://github.com/sara-02","followers_url":"https://api.github.com/users/sara-02/followers","following_url":"https://api.github.com/users/sara-02/following{/other_user}","gists_url":"https://api.github.com/users/sara-02/gists{/gist_id}","starred_url":"https://api.github.com/users/sara-02/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sara-02/subscriptions","organizations_url":"https://api.github.com/users/sara-02/orgs","repos_url":"https://api.github.com/users/sara-02/repos","events_url":"https://api.github.com/users/sara-02/events{/privacy}","received_events_url":"https://api.github.com/users/sara-02/received_events","type":"User","site_admin":false},"labels":[{"id":875195820,"node_id":"MDU6TGFiZWw4NzUxOTU4MjA=","url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/labels/enhancement","name":"enhancement","color":"a2eeef","default":true,"description":"New
        feature or request"},{"id":878172444,"node_id":"MDU6TGFiZWw4NzgxNzI0NDQ=","url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/labels/pending%20design%20feedback","name":"pending
        design feedback","color":"cd4bea","default":false,"description":""},{"id":3055482892,"node_id":"MDU6TGFiZWwzMDU1NDgyODky","url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/labels/v3.4.5","name":"v3.4.5","color":"B60205","default":false,"description":""}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":7,"created_at":"2018-04-29T16:45:25Z","updated_at":"2022-03-23T03:31:35Z","closed_at":null,"author_association":"NONE","active_lock_reason":null,"body":"From
        the website, there is no way to find the GitHub repo associated with the website.
        It would be great if we could add a `fork me on GitHub logo` to it. \r\nThis
        will increase the visibility of the project, and help external users to pitch
        in their queries, add issues, and/or give suggestions about content and design.\r\nOtherwise
        one has to perform an explicit search to find the Github repo associated with
        the project.","reactions":{"url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/174/reactions","total_count":1,"+1":1,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/174/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0},{"url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/171","repository_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io","labels_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/171/labels{/name}","comments_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/171/comments","events_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/171/events","[...]
