---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=repo:RedHatOfficial/RedHatOfficial.github.io%20state:merged%20is:pull-request%20archived:false%20is:closed%20merged:2022-09-01..2022-09-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1666024357'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"total_count":5,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/331","repository_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io","labels_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/331/labels{/name}","comments_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/331/comments","events_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/331/events","html_url":"https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/331","id":1374168324,"node_id":"PR_kwDOB4Ykw84_Abo9","number":331,"title":"Add
        Packit","user":{"login":"jpopelka","id":288686,"node_id":"MDQ6VXNlcjI4ODY4Ng==","avatar_url":"https://avatars.githubusercontent.com/u/288686?v=4","gravatar_id":"","url":"https://api.github.com/users/jpopelka","html_url":"https://github.com/jpopelka","followers_url":"https://api.github.com/users/jpopelka/followers","following_url":"https://api.github.com/users/jpopelka/following{/other_user}","gists_url":"https://api.github.com/users/jpopelka/gists{/gist_id}","starred_url":"https://api.github.com/users/jpopelka/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jpopelka/subscriptions","organizations_url":"https://api.github.com/users/jpopelka/orgs","repos_url":"https://api.github.com/users/jpopelka/repos","events_url":"https://api.github.com/users/jpopelka/events{/privacy}","received_events_url":"https://api.github.com/users/jpopelka/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":1,"created_at":"2022-09-15T08:50:29Z","updated_at":"2022-09-20T15:34:38Z","closed_at":"2022-09-20T12:41:32Z","author_association":"CONTRIBUTOR","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/pulls/331","html_url":"https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/331","diff_url":"https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/331.diff","patch_url":"https://github.com/RedHatOfficial/RedHatOfficial.github.io/pull/331.patch","merged_at":"2022-09-20T12:41:32Z"},"body":"<!---
        Thank you for opening a pull request. Please be sure to review our [Contribution
        guidelines](CONTRIBUTING.md) and be sure to adhere to our [Code of conduct](CODE_OF_CONDUCT.md)
        when interacting with the community. --->\r\n\r\n<!-- tldr; goes here. Give
        us a really high-level summary of these changes. -->\r\n\r\n### Ready-for-merge
        Checklist\r\n\r\nCheck off items as they are completed.  Feel free to delete
        items if they are not applicable.\r\n\r\n- [ ] Expected files: all files in
        this pull request are related to one request or issue (no stragglers or scope-creep).\r\n-
        [ ] Browser testing passed.\r\n- [ ] Repository compiles.\r\n- [ ] Documentation
        (README.md, etc.) updated or added.\r\n- [ ] Approved by designer or writer
        (if applicable).\r\n","reactions":{"url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/331/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/331/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0},{"url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/330","repository_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io","labels_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/330/labels{/name}","comments_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/330/comments","events_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/330/events","[...]
