---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=repo:aws/aws-cli%20org:RedHatOfficial%20state:merged%20is:pull-request%20archived:false%20is:closed%20merged:2022-01-01..2022-01-08
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1666627032'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"total_count":6,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/aws/aws-cli/issues/6644","repository_url":"https://api.github.com/repos/aws/aws-cli","labels_url":"https://api.github.com/repos/aws/aws-cli/issues/6644/labels{/name}","comments_url":"https://api.github.com/repos/aws/aws-cli/issues/6644/comments","events_url":"https://api.github.com/repos/aws/aws-cli/issues/6644/events","html_url":"https://github.com/aws/aws-cli/pull/6644","id":1095691829,"node_id":"PR_kwDOAGd3X84woLYg","number":6644,"title":"[v2]
        Merge model updates and develop branch to v2 branch","user":{"login":"kyleknap","id":4605355,"node_id":"MDQ6VXNlcjQ2MDUzNTU=","avatar_url":"https://avatars.githubusercontent.com/u/4605355?v=4","gravatar_id":"","url":"https://api.github.com/users/kyleknap","html_url":"https://github.com/kyleknap","followers_url":"https://api.github.com/users/kyleknap/followers","following_url":"https://api.github.com/users/kyleknap/following{/other_user}","gists_url":"https://api.github.com/users/kyleknap/gists{/gist_id}","starred_url":"https://api.github.com/users/kyleknap/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kyleknap/subscriptions","organizations_url":"https://api.github.com/users/kyleknap/orgs","repos_url":"https://api.github.com/users/kyleknap/repos","events_url":"https://api.github.com/users/kyleknap/events{/privacy}","received_events_url":"https://api.github.com/users/kyleknap/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":1,"created_at":"2022-01-06T21:01:02Z","updated_at":"2022-01-06T21:44:06Z","closed_at":"2022-01-06T21:44:04Z","author_association":"MEMBER","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/aws/aws-cli/pulls/6644","html_url":"https://github.com/aws/aws-cli/pull/6644","diff_url":"https://github.com/aws/aws-cli/pull/6644.diff","patch_url":"https://github.com/aws/aws-cli/pull/6644.patch","merged_at":"2022-01-06T21:44:04Z"},"body":"Pulled
        in changes from 1.22.29 to 1.22.30\r\n","reactions":{"url":"https://api.github.com/repos/aws/aws-cli/issues/6644/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/aws/aws-cli/issues/6644/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0},{"url":"https://api.github.com/repos/aws/aws-cli/issues/6643","repository_url":"https://api.github.com/repos/aws/aws-cli","labels_url":"https://api.github.com/repos/aws/aws-cli/issues/6643/labels{/name}","comments_url":"https://api.github.com/repos/aws/aws-cli/issues/6643/comments","events_url":"https://api.github.com/repos/aws/aws-cli/issues/6643/events","html_url":"https://github.com/aws/aws-cli/pull/6643","id":1095619636,"node_id":"PR_kwDOAGd3X84wn8YA","number":6643,"title":"remove
     [...]
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=repo:aws/aws-cli%20org:RedHatOfficial%20state:merged%20is:pull-request%20archived:false%20is:closed%20merged:2022-01-29..2022-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Reset:
      - '1666627032'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 24 Oct 2022 15:56:13 GMT
recorded_with: VCR 6.1.0
