---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=org:RedHatOfficial%20state:merged%20is:pull-request%20archived:false%20is:closed%20merged:2022-01-01..2022-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1666040078'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/RedHatOfficial/GoCourse/issues/110","repository_url":"https://api.github.com/repos/RedHatOfficial/GoCourse","labels_url":"https://api.github.com/repos/RedHatOfficial/GoCourse/issues/110/labels{/name}","comments_url":"https://api.github.com/repos/RedHatOfficial/GoCourse/issues/110/comments","events_url":"https://api.github.com/repos/RedHatOfficial/GoCourse/issues/110/events","html_url":"https://github.com/RedHatOfficial/GoCourse/pull/110","id":1084113201,"node_id":"PR_kwDOCu9Sx84wC7ab","number":110,"title":"fix
        typo in README","user":{"login":"KushalBeniwal","id":55043173,"node_id":"MDQ6VXNlcjU1MDQzMTcz","avatar_url":"https://avatars.githubusercontent.com/u/55043173?v=4","gravatar_id":"","url":"https://api.github.com/users/KushalBeniwal","html_url":"https://github.com/KushalBeniwal","followers_url":"https://api.github.com/users/KushalBeniwal/followers","following_url":"https://api.github.com/users/KushalBeniwal/following{/other_user}","gists_url":"https://api.github.com/users/KushalBeniwal/gists{/gist_id}","starred_url":"https://api.github.com/users/KushalBeniwal/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/KushalBeniwal/subscriptions","organizations_url":"https://api.github.com/users/KushalBeniwal/orgs","repos_url":"https://api.github.com/users/KushalBeniwal/repos","events_url":"https://api.github.com/users/KushalBeniwal/events{/privacy}","received_events_url":"https://api.github.com/users/KushalBeniwal/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2021-12-19T14:40:51Z","updated_at":"2022-01-03T10:22:53Z","closed_at":"2022-01-03T10:22:53Z","author_association":"CONTRIBUTOR","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/RedHatOfficial/GoCourse/pulls/110","html_url":"https://github.com/RedHatOfficial/GoCourse/pull/110","diff_url":"https://github.com/RedHatOfficial/GoCourse/pull/110.diff","patch_url":"https://github.com/RedHatOfficial/GoCourse/pull/110.patch","merged_at":"2022-01-03T10:22:53Z"},"body":null,"reactions":{"url":"https://api.github.com/repos/RedHatOfficial/GoCourse/issues/110/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/RedHatOfficial/GoCourse/issues/110/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0}]}'
  recorded_at: Mon, 17 Oct 2022 20:53:38 GMT
recorded_with: VCR 6.1.0
