---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=org:RedHatOfficial%20is:issue%20is:open%20archived:false%20created:2018-04-18..2018-04-25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1666273519'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/171","repository_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io","labels_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/171/labels{/name}","comments_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/171/comments","events_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/171/events","html_url":"https://github.com/RedHatOfficial/RedHatOfficial.github.io/issues/171","id":315983493,"node_id":"MDU6SXNzdWUzMTU5ODM0OTM=","number":171,"title":"No
        explanation of website on website itself","user":{"login":"frozencemetery","id":468294,"node_id":"MDQ6VXNlcjQ2ODI5NA==","avatar_url":"https://avatars.githubusercontent.com/u/468294?v=4","gravatar_id":"","url":"https://api.github.com/users/frozencemetery","html_url":"https://github.com/frozencemetery","followers_url":"https://api.github.com/users/frozencemetery/followers","following_url":"https://api.github.com/users/frozencemetery/following{/other_user}","gists_url":"https://api.github.com/users/frozencemetery/gists{/gist_id}","starred_url":"https://api.github.com/users/frozencemetery/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/frozencemetery/subscriptions","organizations_url":"https://api.github.com/users/frozencemetery/orgs","repos_url":"https://api.github.com/users/frozencemetery/repos","events_url":"https://api.github.com/users/frozencemetery/events{/privacy}","received_events_url":"https://api.github.com/users/frozencemetery/received_events","type":"User","site_admin":false},"labels":[{"id":875195821,"node_id":"MDU6TGFiZWw4NzUxOTU4MjE=","url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/labels/help%20wanted","name":"help
        wanted","color":"008672","default":true,"description":"Extra attention is
        needed"},{"id":2227642100,"node_id":"MDU6TGFiZWwyMjI3NjQyMTAw","url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/labels/content%20request","name":"content
        request","color":"8378cc","default":false,"description":""},{"id":3055482892,"node_id":"MDU6TGFiZWwzMDU1NDgyODky","url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/labels/on%20hold","name":"on
        hold","color":"B60205","default":false,"description":""}],"state":"open","locked":false,"assignee":{"login":"bproffitt","id":1998949,"node_id":"MDQ6VXNlcjE5OTg5NDk=","avatar_url":"https://avatars.githubusercontent.com/u/1998949?v=4","gravatar_id":"","url":"https://api.github.com/users/bproffitt","html_url":"https://github.com/bproffitt","followers_url":"https://api.github.com/users/bproffitt/followers","following_url":"https://api.github.com/users/bproffitt/following{/other_user}","gists_url":"https://api.github.com/users/bproffitt/gists{/gist_id}","starred_url":"https://api.github.com/users/bproffitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bproffitt/subscriptions","organizations_url":"https://api.github.com/users/bproffitt/orgs","repos_url":"https://api.github.com/users/bproffitt/repos","events_url":"https://api.github.com/users/bproffitt/events{/privacy}","received_events_url":"https://api.github.com/users/bproffitt/received_events","type":"User","site_admin":false},"assignees":[{"login":"bproffitt","id":1998949,"node_id":"MDQ6VXNlcjE5OTg5NDk=","avatar_url":"https://avatars.githubusercontent.com/u/1998949?v=4","gravatar_id":"","url":"https://api.github.com/users/bproffitt","html_url":"https://github.com/bproffitt","followers_url":"https://api.github.com/users/bproffitt/followers","following_url":"https://api.github.com/users/bproffitt/following{/other_user}","gists_url":"https://api.github.com/users/bproffitt/gists{/gist_id}","starred_url":"https://api.github.com/users/bproffitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bproffitt/subscriptions","organizations_url":"https://api.github.com/users/bproffitt/orgs","repos_url":"https://api.github.com/users/bproffitt/repos","events_url":"https://api.github.com/users/bproffitt/events{/privacy}","received_events_url":"https://api.github.com/users/bproffitt/received_events","type":"User","site_admin":false}],"milestone":null,"comments":1,"created_at":"2018-04-19T18:08:59Z","updated_at":"2021-06-03T13:04:29Z","closed_at":null,"author_association":"CONTRIBUTOR","active_lock_reason":null,"body":"The
        first paragraph of README.md lays out the repository purpose pretty well -
        projects that we''re involved in which happen to be hosted on GitHub.\r\n\r\nHowever,
        if one actually visits https://redhatofficial.github.io there''s no explanation
        of what this is (just our \"let''s make something together\" splash).  Some
        context for what people are looking at would be good.","reactions":{"url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/171/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/RedHatOfficial/RedHatOfficial.github.io/issues/171/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0}]}'
  recorded_at: Thu, 20 Oct 2022 13:44:19 GMT
[...]
