---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=org:RedHatOfficial%20is:pull-request%20archived:false%20is:unmerged%20created:2022-01-01..2022-01-08
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1667951536'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Tue, 08 Nov 2022 23:51:17 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=org:RedHatOfficial%20is:pull-request%20archived:false%20is:unmerged%20created:2022-01-15..2022-01-22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '1667951537'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: UTF-8
      string: '{"total_count":2,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/RedHatOfficial/ansible-role-rhel7-stig/issues/24","repository_url":"https://api.github.com/repos/RedHatOfficial/ansible-role-rhel7-stig","labels_url":"https://api.github.com/repos/RedHatOfficial/ansible-role-rhel7-stig/issues/24/labels{/name}","comments_url":"https://api.github.com/repos/RedHatOfficial/ansible-role-rhel7-stig/issues/24/comments","events_url":"https://api.github.com/repos/RedHatOfficial/ansible-role-rhel7-stig/issues/24/events","html_url":"https://github.com/RedHatOfficial/ansible-role-rhel7-stig/pull/24","id":1109601537,"node_id":"PR_kwDOCBwsQs4xVwWc","number":24,"title":"The
        0.1.59 release includes changes that require Ansible 2.9 or higher","user":{"login":"daten","id":4874074,"node_id":"MDQ6VXNlcjQ4NzQwNzQ=","avatar_url":"https://avatars.githubusercontent.com/u/4874074?v=4","gravatar_id":"","url":"https://api.github.com/users/daten","html_url":"https://github.com/daten","followers_url":"https://api.github.com/users/daten/followers","following_url":"https://api.github.com/users/daten/following{/other_user}","gists_url":"https://api.github.com/users/daten/gists{/gist_id}","starred_url":"https://api.github.com/users/daten/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/daten/subscriptions","organizations_url":"https://api.github.com/users/daten/orgs","repos_url":"https://api.github.com/users/daten/repos","events_url":"https://api.github.com/users/daten/events{/privacy}","received_events_url":"https://api.github.com/users/daten/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":{"login":"dmc5179","id":2169791,"node_id":"MDQ6VXNlcjIxNjk3OTE=","avatar_url":"https://avatars.githubusercontent.com/u/2169791?v=4","gravatar_id":"","url":"https://api.github.com/users/dmc5179","html_url":"https://github.com/dmc5179","followers_url":"https://api.github.com/users/dmc5179/followers","following_url":"https://api.github.com/users/dmc5179/following{/other_user}","gists_url":"https://api.github.com/users/dmc5179/gists{/gist_id}","starred_url":"https://api.github.com/users/dmc5179/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dmc5179/subscriptions","organizations_url":"https://api.github.com/users/dmc5179/orgs","repos_url":"https://api.github.com/users/dmc5179/repos","events_url":"https://api.github.com/users/dmc5179/events{/privacy}","received_events_url":"https://api.github.com/users/dmc5179/received_events","type":"User","site_admin":false},"assignees":[{"login":"dmc5179","id":2169791,"node_id":"MDQ6VXNlcjIxNjk3OTE=","avatar_url":"https://avatars.githubusercontent.com/u/2169791?v=4","gravatar_id":"","url":"https://api.github.com/users/dmc5179","html_url":"https://github.com/dmc5179","followers_url":"https://api.github.com/users/dmc5179/followers","following_url":"https://api.github.com/users/dmc5179/following{/other_user}","gists_url":"https://api.github.com/users/dmc5179/gists{/gist_id}","starred_url":"https://api.github.com/users/dmc5179/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dmc5179/subscriptions","organizations_url":"https://api.github.com/users/dmc5179/orgs","repos_url":"https://api.github.com/users/dmc5179/repos","events_url":"https://api.github.com/users/dmc5179/events{/privacy}","received_events_url":"https://api.github.com/users/dmc5179/received_events","type":"User","site_admin":false}],"milestone":null,"comments":4,"created_at":"2022-01-20T17:53:53Z","updated_at":"2022-02-15T04:25:05Z","closed_at":"2022-02-15T04:24:51Z","author_association":"NONE","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/RedHatOfficial/ansible-role-rhel7-stig/pulls/24","html_url":"https://github.com/RedHatOfficial/ansible-role-rhel7-stig/pull/24","diff_url":"https://github.com/RedHatOfficial/ansible-role-rhel7-stig/pull/24.diff","patch_url":"https://github.com/RedHatOfficial/ansible-role-rhel7-stig/pull/24.patch","merged_at":null},"body":"The
        tasks/main.yml now includes ansible.builtin syntax that is not valid in Ansible
        2.8 and older.\r\n\r\nUpdating the readme to reflect that new requirement.","reactions":{"url":"https://api.github.com/repos/RedHatOfficial/ansible-role-rhel7-stig/issues/24/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/RedHatOfficial/ansible-role-rhel7-stig/issues/24/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0},{"url":"https://api.github.com/repos/RedHatOfficial/ansible-redhat_openshift_utils/issues/15","repository_url":"https://api.github.com/repos/RedHatOfficial/ansible-redhat_openshift_utils","labels_url":"https://api.github.com/repos/RedHatOfficial/ansible-redhat_openshift_utils/issues/15/labels{/name}","comments_url":"https://api.github.com/repos/RedHatOfficial/ansible-redhat_openshift_utils/issues/15/comments","events_url":"https://api.github.com/repos/RedHatOfficial/ansible-redhat_openshift[...]
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=1000&q=org:RedHatOfficial%20is:pull-request%20archived:false%20is:unmerged%20created:2022-01-29..2022-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Reset:
      - '1667951536'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: UTF-8
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Tue, 08 Nov 2022 23:51:17 GMT
recorded_with: VCR 6.1.0
